@import "tailwindcss";

:root {
  --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
}
.dark {
  --shadow-1: 0 1px 2px rgba(255, 255, 255, 0.04),
    0 1px 2px rgba(255, 255, 255, 0.06);
  --shadow-2: 0 3px 12px rgba(255, 255, 255, 0.07),
    0 1px 4px rgba(255, 255, 255, 0.07);
}

@theme {
  /* Borders Colors */
  --color-border: var(--vp-c-border);
  --color-divider: var(--vp-c-divider);
  --color-gutter: var(--vp-c-gutter);

  /* Shadows */
  --shadow-1: var(--shadow-1);
  --shadow-2: var(--shadow-2);

  /* Text Colors */
  --color-text-1: var(--vp-c-text-1);
  --color-text-2: var(--vp-c-text-2);
  --color-text-3: var(--vp-c-text-3);
}
